.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.el-header {
  background-color: #b3c0d1;
  line-height: 60px;
  width: 100%;
}
.el-aside {
  color: #333;
}
.el-main {
  background-color: #e9eef3;
  width: 100%;
}
